.user-list-container{
    padding: 30px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
}

.user-profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: black;
}

.user-profile-link h3{
    padding: 10px 13px;
    background-color: #d3d3d3;
    border-radius: 50%;
}

.user-profile-link h5{
    margin: 0px 10px;
}

@media only screen and(max-width: 767px) {
    .user-list-container{
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 20px;
    }

    .user-profile-link h3{
        padding: 8px 10px;
        border-radius: 50%;
    }

    .user-profile-link h5{
        margin: 0px 8px;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {

  .user-list-container{
    padding: 30px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
  }

  .user-profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: black;
  }

  .user-profile-link h3{
    padding: 10px 13px;
    background-color: #d3d3d3;
    border-radius: 50%;
  }

  .user-profile-link h5{
    margin: 0px 10px;
  }
}

@media only screen 
  and (min-width: 412px) 
  and (max-width: 912px) {

  .user-list-container{
    padding: 30px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
  }

  .user-profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: black;
  }

  .user-profile-link h3{
    padding: 10px 13px;
    background-color: #d3d3d3;
    border-radius: 50%;
  }

  .user-profile-link h5{
    margin: 0px 10px;
  }
}